/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.heroImg img {
  transition: width 0.3s ease, transform 0.3s ease;  /* Smooth transition for width and transform */
}

.heroImg {
  text-align: center;
  position: relative;
}

.heroImg img {
  width: 420px;  /* Initial size */
  transition: width 0.3s ease, transform 0.3s ease;  /* Smooth resizing transition */
}

.sticky {
  position: sticky;
  top: 0;  /* Keeps the image stuck to the top when scrolling */
  z-index: 10;  /* Ensure it's above other content */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

